/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/*******************************************************************
					Cart Block Styles
********************************************************************/
.cart_block .block_content {

  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 17px 8px;
}
.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 10px;
  top: 0;
}
.rtl .cart_block .cart_block_list .remove_link {
  left: 10px;
  right: auto;
}
.cart_block .cart-images {
  float: left;
  margin-right: 10px;
}
.rtl .cart_block .cart-images {
  float: right;
}
.rtl .cart_block .cart-images {
  margin-left: 10px;
  margin-right: inherit;
}
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 30px;
}
.rtl .cart_block .cart-info {
  padding-left: 30px;
  padding-right: inherit;
}
.cart_block .cart-info .product-name a {
  float: left;
  color: #000;
}
.rtl .cart_block .cart-info .product-name a {
  float: right;
}
.cart_block .cart-info .quantity-formated {
  text-transform: uppercase;
  padding: 0 10px;
}
.cart_block .cart-info .price {
  display: block;
  padding-top: 10px;
  clear: both;
  color: black;
}
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  position: relative;
}
.cart_block dd {
  position: relative;
  margin-bottom: 20px;
}
.cart_block dd .cart_block_customizations {
  border-top: 1px dashed #ebebeb;
}
.cart_block dd .cart_block_customizations li {
  padding: 10px 20px;
}
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px;
}
.rtl .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  left: 10px;
  right: auto;
}
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 0;
}
.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  padding: 7px 0;
  font-weight: 400;
  text-transform: none;
  color: black;
  font-size: 18px;
}
.cart_block .cart-buttons {
  overflow: hidden;
  margin: -2px 0 0;
}

.bg-over-lay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  visibility: hidden;
  will-change: opacity;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.show-over-lay {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}

@-webkit-keyframes anim-item {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@-moz-keyframes anim-item {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@-o-keyframes anim-item {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

@keyframes anim-item {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.anim-item {
  opacity: 0;
  filter: alpha(opacity=0);
}

.anim-active {
  -webkit-animation: anim-item 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1;
  -moz-animation: anim-item 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1;
  -o-animation: anim-item 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1;
  animation: anim-item 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  overflow-y: auto;
  position: fixed;
  z-index: 2222;
  display: block;
  top: 0;
  height: 100%;
  width: 496px;
  padding: 0px;
  font-size: 14px;
  background-color: white;
  right: 0px;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.rtl #header .cart_block {
  left: 0px;
  right: auto;
}
.rtl #header .cart_block {
  webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
#header .cart_block dt {
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
#header .cart_block dt.first_item {
  background: none;
}
#header .cart_block .product-atributes {
  margin-top: 10px;
}
#header .cart_block .product-atributes a {
  font-style: italic;
  color: #666666;
  float: left;
}
.rtl #header .cart_block .product-atributes a {
  float: right;
}
#header .cart_block .cart-buttons #button_order_cart {
  width: 100%;
  text-transform: uppercase;
  background-color: #32c1e2;
  border: none;
  height: 46px;
  line-height: 46px;
  color: white;
  padding: 0;
}
#header .cart_block .cart-buttons #button_order_cart:hover {
  background-color: #0a9abb;
}
#header .cart_block .block-info-cart .title_block {
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-bottom: 33px;
}
#header .show-cart-block {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.rtl #header .show-cart-block {
  webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none;
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right;
}
.rtl .cart_block .cart_block_shipping_cost, .rtl
.cart_block .cart_block_tax_cost, .rtl
.cart_block .cart_block_total, .rtl
.cart_block .cart_block_wrapping_cost {
  float: left;
}

.cart_block table.vouchers {
  border-top: 1px solid #ebebeb;
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.cart_block table.vouchers tr td {
  padding: 2px;
}
.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px;
}
.rtl .cart_block table.vouchers tr td.quantity {
  margin-left: 5px;
  margin-right: inherit;
}
.cart_block table.vouchers tr td.delete {
  width: 15px;
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.rtl * html .layer_cart_overlay {
  margin-right: -160px;
  margin-left: inherit;
}

#layer_cart {
  background-color: white;
  position: absolute;
  display: none;
  width: 1170px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#layer_cart .layer_cart_product {
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  position: static;
}
#layer_cart .layer_cart_product .title {
  font: 400 23px/29px "Poppins", sans-serif;
  color: #46a74e;
  margin-bottom: 22px;
  display: block;
  padding-right: 100px;
}
.rtl #layer_cart .layer_cart_product .title {
  padding-left: 100px;
  padding-right: inherit;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product .title {
    font-size: 18px;
    padding-right: 0;
    line-height: normal;
  }
  .rtl #layer_cart .layer_cart_product .title {
    padding-left: 0;
    padding-right: inherit;
  }
}
#layer_cart .layer_cart_product .title i {
  font-size: 30px;
  line-height: 30px;
  float: left;
  padding-right: 8px;
}
.rtl #layer_cart .layer_cart_product .title i {
  float: right;
}
.rtl #layer_cart .layer_cart_product .title i {
  padding-left: 8px;
  padding-right: inherit;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_product .title i {
    font-size: 22px;
    line-height: 22px;
  }
}
#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  border: 1px solid #ebebeb;
  padding: 5px;
  float: left;
  margin-right: 30px;
}
.rtl #layer_cart .layer_cart_product .product-image-container {
  float: right;
}
.rtl #layer_cart .layer_cart_product .product-image-container {
  margin-left: 30px;
  margin-right: inherit;
}
@media (max-width: 480px) {
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 38px 0 0 0;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px;
}
.rtl #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-left: 3px;
  padding-right: inherit;
}
#layer_cart .layer_cart_cart {
  background: #fafafa;
  border-left: 1px solid #ebebeb;
  padding: 21px 30px 170px 30px;
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
@media (min-width: 1200px) {
  #layer_cart .layer_cart_cart {
    min-height: 365px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #layer_cart .layer_cart_cart {
    min-height: 360px;
  }
}
@media (max-width: 991px) {
  #layer_cart .layer_cart_cart {
    border-left: none;
    border-top: 1px solid #ebebeb;
  }
}
#layer_cart .layer_cart_cart .title {
  font: 400 23px/29px "Poppins", sans-serif;
  color: #666666;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 13px;
  margin-bottom: 17px;
  display: block;
}
@media (max-width: 767px) {
  #layer_cart .layer_cart_cart .title {
    font-size: 18px;
  }
}
#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
}
#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px;
}
#layer_cart .layer_cart_cart .button-container .btn {
  color: #FFF;
}
#layer_cart .cross {
  position: absolute;
  right: 7px;
  top: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #666666;
  z-index: 2;
}
.rtl #layer_cart .cross {
  left: 7px;
  right: auto;
}
#layer_cart .cross:before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 25px;
}
#layer_cart .cross:hover {
  color: #0a9abb;
}
#layer_cart .continue {
  cursor: pointer;
}
#layer_cart p {
  padding: 0px;
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #ebebeb;
  padding: 26px 30px 40px 30px;
  position: relative;
}
#layer_cart .crossseling h2 {
  font: 400 23px/26px "Poppins", sans-serif;
  color: #666666;
  margin-bottom: 25px;
}
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden;
}
#layer_cart .crossseling #blockcart_list ul {
  display: block;
}
#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0px 0 0;
}
.rtl #layer_cart .crossseling #blockcart_list ul li {
  float: right;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  text-align: center;
  margin-bottom: 15px;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%;
}
#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px;
}
#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #666666;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  display: block;
  text-indent: 0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #c0c0c0;
}
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  display: none;
}
#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after {
  content: "\f137";
}
#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 5%;
}
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  content: "\f138";
}
#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden;
}
