/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
.header_user_info .header_info {
  position: absolute;
  left: 15px;
  line-height: 40px;
}
.rtl .header_user_info .header_info {
  right: 15px;
  left: auto;
}
.header_user_info .popup-title {
  display: none;
}
.header_user_info ul li a {
  margin: 0 15px;
  position: relative;
}
@media (min-width: 1025px) {
  .header_user_info ul li a:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #cccccc;
    top: 3px;
    right: -15px;
  }
  .rtl .header_user_info ul li a:after {
    left: -15px;
    right: auto;
  }
}
.header_user_info ul li.last a:after {
  display: none;
}
.header_user_info .popup-content {
  left: auto;
  right: 0;
}
.rtl .header_user_info .popup-content {
  right: auto;
  left: auto;
}
.rtl .header_user_info .popup-content {
  left: 0;
  right: auto;
}
