/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* Block newsletter */
#columns #newsletter_block_left {
  width: 470px;
  margin: auto;
  color: white;
}
#columns #newsletter_block_left.block .title_block {
  text-align: center;
  color: white;
}
#columns #newsletter_block_left.block .title_block:before {
  left: 0;
  right: 0px;
  margin: auto;
}
#columns #newsletter_block_left.block p {
  display: none;
}
#columns #newsletter_block_left .form-group {
  position: relative;
}
#columns #newsletter_block_left .form-group:before {
  content: "\f0e0";
  font-family: "FontAwesome";
  position: absolute;
  top: 0px;
  height: 45px;
  width: 39px;
  text-align: center;
  line-height: 45px;
  color: black;
  left: 0;
}
.rtl #columns #newsletter_block_left .form-group:before {
  right: 0;
  left: auto;
}
#columns #newsletter_block_left .form-group .btn {
  margin-top: 0px;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  background-color: white;
  color: black;
  padding: 15px;
}
.rtl #columns #newsletter_block_left .form-group .btn {
  left: 0;
  right: auto;
}
#columns #newsletter_block_left .form-group .btn:hover {
  color: #80b435;
}
#columns #newsletter_block_left .form-group .form-control {
  border: 1px solid #ebebeb;
  height: 45px;
  padding: 6px 35px;
}
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
.rtl #columns #newsletter_block_left .success_inline, .rtl #columns #newsletter_block_left .warning_inline {
  text-align: right;
}
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

#footer #newsletter_block_left {
  margin-bottom: 0px;
}
#footer #newsletter_block_left p {
  line-height: 23px;
}
#footer #newsletter_block_left form {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
#footer #newsletter_block_left form .form-group {
  margin: 0px;
}
#footer #newsletter_block_left form input[type="text"] {
  border: 0px none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding-right: 39px;
  color: #666666;
  height: 39px;
  margin: 0px;
  background: #f8f8f8;
}
.rtl #footer #newsletter_block_left form input[type="text"] {
  padding-left: 39px;
  padding-right: inherit;
}
#footer #newsletter_block_left form .btn {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 37px;
  width: 37px;
  background: #80b435;
  color: white;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.rtl #footer #newsletter_block_left form .btn {
  left: 1px;
  right: auto;
}
#footer #newsletter_block_left form .btn:hover {
  color: white;
  background-color: #689626;
}
#footer #newsletter_block_left form .btn:hover:before {
  color: white;
}
#footer #newsletter_block_left .warning_inline {
  color: #f13340;
  clear: both;
}
#footer #newsletter_block_left .success_inline {
  color: #418B19;
}
