/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
.border-icon .iconbox {
  border-right: 1px solid #f8f8f8;
  border-left: 1px solid #f8f8f8;
}

.iconbox {
  font-size: 14px;
  padding: 40px 22px;
}
.iconbox i {
  color: #00cefc;
  float: left;
  font-size: 47px;
  margin-right: 20px;
}
.rtl .iconbox i {
  float: right;
}
.rtl .iconbox i {
  margin-left: 20px;
  margin-right: inherit;
}
.iconbox .boxright {
  float: left;
}
.rtl .iconbox .boxright {
  float: right;
}
.iconbox h4 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: black;
}

.sidebar .product-deals-2 .product-block {
  border-top: 0px dashed #dddddd;
}
.sidebar .product-deals-2 .product-block .name {
  float: none !important;
  width: 100%;
  text-align: center;
}
.sidebar .product-deals-2 .product-block .content_price {
  text-align: center;
}
.sidebar .block.block_carousel .block_content {
  background-color: #80b435;
  background-repeat: no-repeat;
  background-position: 15px 8px;
  color: white;
  text-align: left;
}
.rtl .sidebar .block.block_carousel .block_content {
  text-align: right;
}
.sidebar .block.block_carousel .block_content .title {
  margin-top: 15px;
}
.sidebar .block.block_carousel .block_content .title span {
  display: block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.sidebar .block.block_carousel .block_content .descript {
  line-height: 1.6em;
}
.sidebar .owl-carousel .owl-item {
  padding: 0px;
}
