

/**
 * Popovers
 * --------------------------------------------------
 * Popovers are independent views which float over content
 */
 .popover-open.loading-active .popover, .popover-open.loading-active .popover-backdrop, .popup-open, .popup-open.modal-open .modal {
    pointer-events: none;
}
.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: transparent; }
  .popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1); }

.popover {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 10;
  display: block;
  margin-top: 12px;
  margin-left: -110px;
  height: 280px;
  width: 220px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  opacity: 0; }
  .popover .item:first-child {
    border-top: 0; }
  .popover .item:last-child {
    border-bottom: 0; }
  .popover.popover-bottom {
    margin-top: -12px; }

.popover, .popover .bar-header {
  border-radius: 2px; }

.popover .scroll-content {
  z-index: 1;
  margin: 2px 0; }

.popover .bar-header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.popover .has-header {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.popover-arrow {
  display: none; }

.platform-ios .popover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  border-radius: 10px; }
.platform-ios .popover .bar-header {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px; }
.platform-ios .popover .scroll-content {
  margin: 8px 0;
  border-radius: 10px; }
.platform-ios .popover .scroll-content.has-header {
  margin-top: 0; }
.platform-ios .popover-arrow {
  position: absolute;
  display: block;
  top: -17px;
  width: 30px;
  height: 19px;
  overflow: hidden; }
  .platform-ios .popover-arrow:after {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.platform-ios .popover-bottom .popover-arrow {
  top: auto;
  bottom: -10px; }
  .platform-ios .popover-bottom .popover-arrow:after {
    top: -6px; }

.platform-android .popover {
  margin-top: -32px;
  background-color: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35); }
  .platform-android .popover .item {
    border-color: #fafafa;
    background-color: #fafafa;
    color: #4d4d4d; }
  .platform-android .popover.popover-bottom {
    margin-top: 32px; }
.platform-android .popover-backdrop, .platform-android .popover-backdrop.active {
  background-color: transparent; }

.popover-open {
  pointer-events: none; }
  .popover-open .popover, .popover-open .popover-backdrop {
    pointer-events: auto; }
  .popover-open.loading-active .popover, .popover-open.loading-active .popover-backdrop {
    pointer-events: none; }

@media (min-width: 680px) {
  .popover {
    width: 360px; } }

/**
 * Popups
 * --------------------------------------------------
 */
.popup-container {
  position: absolute;
  /*top: 170px!important;*/
  left: 0;
  right: 0;
  background: transparent;
  
  z-index: 12;
  visibility: hidden; }
  .popup-container.popup-showing {
    visibility: visible; }
  .popup-container.popup-hidden .popup {
    -webkit-animation-name: scactut;
    animation-name: scactut;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .popup-container.active .popup {
    -webkit-animation-name: superScaleIn;
    animation-name: superScaleIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .popup-container .popup {
    width: 250px;
    max-width: 100%;
    max-height: 90%;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .popup-container input, .popup-container textarea {
    width: 100%; }

.popup-head {
      padding: 15px 10px;
    border-bottom: 1px solid #3c763d;
    text-align: center;
    background-color: #cfff89;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
     }

.popup-title {
  margin: 0;
  padding: 0;
  font-size: 15px; }

.popup-sub-title {
  margin: 5px 0 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 11px; }

.popup-body {
  padding: 10px;
  overflow: auto; }

.popup-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px;
  min-height: 65px; }
  .popup-buttons .button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    min-height: 45px;
    border-radius: 2px;
    line-height: 20px;
    margin-right: 5px; }
    .popup-buttons .button:last-child {
      margin-right: 0px; }

.popup-open {
  pointer-events: none; }
  .popup-open.modal-open .modal {
    pointer-events: none; }
  .popup-open .popup-backdrop, .popup-open .popup {
    pointer-events: auto; }

/**
 * Loading
 * --------------------------------------------------
 */
.loading-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 13;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  visibility: hidden;
  opacity: 0; }
  .loading-container:not(.visible) .icon, .loading-container:not(.visible) .spinner {
    display: none; }
  .loading-container.visible {
    visibility: visible; }
  .loading-container.active {
    opacity: 1; }
  .loading-container .loading {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px; }
    .loading-container .loading h1, .loading-container .loading h2, .loading-container .loading h3, .loading-container .loading h4, .loading-container .loading h5, .loading-container .loading h6 {
      color: #fff; }


.popup-container.popup-showing {
    visibility: visible;
}
.popup-container {
    background: 0 0;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    z-index: 12;
    visibility: hidden;
}
.loading-container, .popup-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.popup-container, .popup-container .popup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
}


.popup-container.active .popup {
    -webkit-animation-name: superScaleIn;
    animation-name: superScaleIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.popup-open .popup, .popup-open .popup-backdrop {
    pointer-events: auto;
}
.popup-container .popup {
    width: 282px;
    max-width: 100%;
    max-height: 90%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.popup-body {
    padding: 10px;
    overflow: auto;
    border-bottom: 1px solid #3c763d;
}
.popup-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px;
    min-height: 65px;
}
.backdrop.active {
    opacity: 1;
}
.backdrop.visible {
    visibility: visible;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 27, 26, 0.75);
    -webkit-transition: .1s opacity linear;
    transition: .1s opacity linear;
}
.backdrop, .scroll-bar-indicator.scroll-bar-fade-out {
    opacity: 0;
}
.backdrop, .ng-animate .scroll-bar {
    visibility: hidden;
}
.item-toggle, .item-toggle.item-complex .item-content {
    padding-right: 99px;
}
.item-toggle {
    pointer-events: none;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item {
    border-color: #ddd;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
}
.item, .item h2 {
    font-size: 16px;
}
.item, .item.item-light, .popover {
    background-color: #fff;
}
.item-toggle .toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 3;
}
.disable-user-behavior {
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: none;
    -ms-content-zooming: none;
}

.toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    margin: -5px;
    padding: 5px;
}
.bar, .disable-user-behavior {
    -webkit-user-select: none;
    -ms-user-select: none;
}
.disable-user-behavior, .ionic-body, a, body, img {
    -webkit-user-drag: none;
}
.disable-user-behavior, .ionic-body, a, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}
.toggle input {
    display: none;
}
input[type=radio], input[type=checkbox] {
    margin: 0;
    line-height: normal;
}
.popup-container input, .popup-container textarea {
    width: 100%;
}
.toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: background-color,border;
    transition-property: background-color,border;
    display: inline-block;
    box-sizing: border-box;
    width: 51px;
    height: 31px;
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    background-color: #fff;
    content: ' ';
    pointer-events: none;
}

.toggle .handle {
    -webkit-transition: .3s cubic-bezier(0,1.1,1,1.1);
    transition: .3s cubic-bezier(0,1.1,1,1.1);
    -webkit-transition-property: background-color,transform;
    transition-property: background-color,transform;
    position: absolute;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 27px;
    background-color: #fff;
    top: 7px;
    left: 7px;
    box-shadow: 0 2px 7px rgba(0,0,0,.35),0 1px 1px rgba(0,0,0,.15);
}
.toggle .handle:before {
    position: absolute;
    top: -4px;
    left: -21.5px;
    padding: 18.5px 34px;
    content: " ";
}
.item[ng-click]:hover {
    cursor: pointer;
}
.item-toggle, .item-toggle.item-complex .item-content {
    padding-right: 99px;
}
.item-toggle {
    pointer-events: none;
}
.toggle.toggle-energized input:checked+.track {
    border-color: #ffc900;
    background-color: #ffc900;
}
.toggle input:checked+.track {
    border-color: #4cd964;
    background-color: #4cd964;
}
.toggle input:checked+.track .handle {
    -webkit-transform: translate3d(20px,0,0);
    transform: translate3d(20px,0,0);
    background-color: #fff;
}
.item-input input {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding-right: 24px;
    background-color: transparent;
}
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item {
    border-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
}
.item, .item h2 {
    font-size: 16px;
}
.item, .item.item-light, .popover {
    background-color: #fff;
}

.myselectstyle
{
    margin-top: 11px;
    height: 29px!important;
    margin-bottom: 10px;
    width: 169px!important;
    margin-left: 6px;
    display: inline!important;
    border: 1px solid rgb(169, 169, 169)!important;
}

#form_18767338073985098.navbar-fixed-top{
    position: fixed;
    width: 100%;
    height: 40px;
    opacity: 0.9;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 21px 534px;
    overflow: hidden;
    box-sizing: content-box;
    display: inherit;
    margin-left: -385px;
    background-color: #80b435;
}