/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* MENU */
/* category */
.childrens img {
  margin-bottom: 20px;
}

/* blog listing */
#blog-listing .inner, .leading-blog {
  background-color: white;
}

.blog-container {
  background-color: white;
  padding: 20px;
}
.blog-container .title_block {
  font-size: 25px;
}
.blog-container .btn {
  padding: 10px 20px;
}

#blog-category .blog-item, #blog-listing .blog-item {
  padding: 20px;
}

.blog-detail,
.blog-item {
  display: inline-block;
  border-bottom: 1px solid #ebebeb;
}
.blog-detail .blog-image,
.blog-detail .blog-shortinfo,
.blog-item .blog-image,
.blog-item .blog-shortinfo {
  margin: 0;
}
.blog-detail .blog-meta,
.blog-item .blog-meta {
  width: 30%;
  border: 1px solid #ebebeb;
  text-align: center;
  float: left;
  margin-right: 20px;
}
.rtl .blog-detail .blog-meta, .rtl
.blog-item .blog-meta {
  float: right;
}
.rtl .blog-detail .blog-meta, .rtl
.blog-item .blog-meta {
  margin-left: 20px;
  margin-right: inherit;
}
.blog-detail .blog-meta > span,
.blog-item .blog-meta > span {
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-family: "Playfair Display", sans-serif;
}
.blog-detail .blog-meta > span span,
.blog-item .blog-meta > span span {
  width: 100%;
  display: inline-block;
}
.blog-detail .blog-meta > span:last-child,
.blog-item .blog-meta > span:last-child {
  border-bottom: none;
}
.blog-detail .blog-meta a,
.blog-item .blog-meta a {
  color: #80b435;
}
.blog-detail .blog-info,
.blog-item .blog-info {
  float: left;
  width: 66%;
}
.rtl .blog-detail .blog-info, .rtl
.blog-item .blog-info {
  float: right;
}
.blog-detail .blog-image,
.blog-item .blog-image {
  margin: 0 0 20px 0;
}
.blog-detail .blog-image img,
.blog-item .blog-image img {
  width: 100%;
  height: 229px;
}
.blog-detail .name,
.blog-item .name {
  font-family: "Playfair Display", sans-serif;
  color: #689626;
}

/* blog */
.blog-detail .blog-description {
  font-weight: bold;
}
.blog-detail .blog-meta {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
.blog-detail h4 {
  font-size: 18px;
}
.blog-detail .blog-title {
  font-size: 25px;
  margin-bottom: 20px;
}
.blog-detail .blog-image {
  margin: 0 0 20px 0;
}

.blog-tags,
.extra-blogs,
.blog-comments,
.social-share {
  padding-bottom: 15px;
}

.blog-comment-block h3 {
  font-size: 16px;
}

.blog-tags a span {
  background: none repeat scroll 0 0 #666666;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 1;
  padding: 5px 10px;
}

.extra-blogs ul li {
  padding: 6px 0;
  border-bottom: dotted 1px #ebebeb;
}

.blog-video-code .inner {
  background: #DDD;
  padding: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.title_blog {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.read-more {
  margin-top: 15px;
}
.read-more a {
  color: #80b435;
  text-decoration: underline;
}
.read-more a:hover {
  color: #689626;
}

/* comment */
.comment-item {
  padding: 12px 0;
}
.comment-item img {
  padding-right: 12px;
}

.comment-wrap {
  overflow: hidden;
  background: white;
  border: 1px solid #E5E5E5;
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.comment-wrap .comment-meta {
  border-bottom: 1px solid #E5E5E5;
  font-size: 11px;
  margin: -20px -20px 10px;
  padding: 10px 20px;
}
.comment-wrap .comment-meta > span {
  font-weight: bold;
}
.comment-wrap .comment-meta > span span {
  font-weight: normal;
}

.blog-social .social-wrap > div {
  float: left;
}
.rtl .blog-social .social-wrap > div {
  float: right;
}
.blog-social .social-heading {
  padding-right: 12px;
}
.rtl .blog-social .social-heading {
  padding-left: 12px;
  padding-right: inherit;
}

.comment-link {
  background: none repeat scroll 0 0 #F4F4F4;
  border-left: 1px solid #E5E5E5;
  display: block;
  float: right;
  font-weight: bold;
  margin: -11px -20px -10px 0;
  padding: 10px 20px;
}
.rtl .comment-link {
  float: left;
}
.rtl .comment-link {
  margin: -11px 0 -10px -20px;
}

.ipts-captcha img {
  float: left;
  padding-right: 12px;
}
.rtl .ipts-captcha img {
  float: right;
}
.rtl .ipts-captcha img {
  padding-left: 12px;
  padding-right: inherit;
}
.ipts-captcha input {
  width: 100px;
}

/* categories menu display on left or right sidebar */
.blog-menu ul li {
  position: relative;
}
.blog-menu ul li a {
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  padding: 0;
  border-bottom: 1px dashed #d6d4d4;
}
.blog-menu ul li a:hover, .blog-menu ul li a.selected {
  color: #80b435;
}
.blog-menu ul li li a {
  font-weight: normal;
  color: #000;
  padding-left: 15px;
}
.rtl .blog-menu ul li li a {
  padding-right: 15px;
  padding-left: inherit;
}
.blog-menu ul li span.grower {
  display: block;
  position: absolute;
  top: 8px;
  cursor: pointer;
  font-size: 13px;
  font-family: "FontAwesome";
  right: 0;
}
.rtl .blog-menu ul li span.grower {
  left: 0;
  right: auto;
}
.blog-menu ul li span.grower.OPEN:before, .blog-menu ul li span.grower.CLOSE:before {
  content: "-";
  display: block;
  text-align: center;
}
.blog-menu ul li span.grower.CLOSE:before {
  content: "+";
}
