/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#ctsearchtopbox {
  position: relative;
  border: 1px solid #00cefc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#ctsearchtopbox .group-ctsearch {
  display: inline-block;
  width: 90%;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: left;
}
.rtl #ctsearchtopbox .group-ctsearch {
  float: right;
}
@media (min-width: 1200px) {
  #ctsearchtopbox .group-ctsearch {
    width: 93%;
  }
}
#ctsearchtopbox input {
  display: inline-block;
  width: 60%;
  height: 38px;
  padding: 0 10px;
  border: none;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.rtl #ctsearchtopbox input {
  float: right;
}
#ctsearchtopbox select {
  display: inline-block;
  border: none;
  width: 39%;
  height: 40px;
  padding: 0 5px;
  cursor: pointer;
  float: right;
  border-left: #d9d9d9;
  border-style: none none none solid;
  border-width: 0 0 0 1px;
}
.rtl #ctsearchtopbox select {
  float: left;
}
.rtl #ctsearchtopbox select {
  border-right: #d9d9d9;
  border-left: inherit;
}
.rtl #ctsearchtopbox select {
  border-style: none solid none none;
}
.rtl #ctsearchtopbox select {
  border-width: 0 1px 0 0;
}
#ctsearchtopbox button {
  border: none;
  display: inline-block;
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  margin-top: 1px;
  width: 38px;
  height: 38px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 1px;
  float: right;
}
.rtl #ctsearchtopbox button {
  float: right;
}
.rtl #ctsearchtopbox button {
  margin-left: 1px;
  margin-right: inherit;
}
.rtl #ctsearchtopbox button {
  float: left;
}
