/*-----------------------*/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
@media (max-width: 1196px) and (min-width: 992px) {
  .editortool .label-customize {
    display: none;
  }
}
@media (min-width: 1200px) {
  #guestTracking .form-group {
    overflow: hidden;
  }
  #guestTracking .form-group i {
    padding-left: 10px;
  }
  .rtl #guestTracking .form-group i {
    padding-right: 10px;
    padding-left: inherit;
  }
  #guestTracking .form-control {
    float: left;
  }
  .rtl #guestTracking .form-control {
    float: right;
  }
  #guestTracking label {
    float: left;
    clear: both;
    width: 100%;
  }
  .rtl #guestTracking label {
    float: right;
  }
}
@media (max-width: 1199px) {
  .zoomdiv {
    display: none !important;
  }
}
@media (min-width: 991px) {
  .view-product .ajax_block_product {
    width: 25%;
  }
  .view-product .product-default-li {
    width: 50%;
  }
  .view-product .product-default-li.product_block .box-buttons {
    bottom: 16%;
  }

  .page-heading {
    width: 940px;
  }
}
@media (max-width: 1024px) {
  #layer_cart {
    width: 94%;
  }

  .header_user_info .popup-title {
    display: block;
  }
  .header_user_info .popup-content li {
    display: block;
  }

  .cart_block .block_content {
    height: 700px;
  }

  .iview-controlNav div.iview-items.customHtmlBullet {
    width: 240px;
  }
  .iview-controlNav div.iview-items.customHtmlBullet ul li {
    width: 240px;
    height: 104px;
  }
  .iview-controlNav div.iview-items.customHtmlBullet a.iview-control {
    width: 240px;
    padding: 10px 25px 10px 20px;
  }
  .rtl .iview-controlNav div.iview-items.customHtmlBullet a.iview-control {
    padding: 10px 20px 10px 25px;
  }

  .view-product.products_block .product-block .box-buttons {
    bottom: 41%;
  }
  .view-product.products_block .product-default-li .box-buttons {
    bottom: 20%;
  }

  .box-service.ApColumn .block {
    padding: 55px 20px;
    min-height: 187px;
  }

  .tabs-top {
    padding: 40px 0 20px;
  }

  .pb-left-column #image-block {
    width: 81%;
  }
}
@media (max-width: 991px) {
  .page-heading {
    width: 740px;
  }

  #ctsearchtopbox .group-ctsearch {
    width: 86%;
  }
  #ctsearchtopbox select {
    display: none;
  }

  .logo {
    display: block;
    margin: 0 auto 40px auto;
  }

  html {
    background: none;
  }

  .navbar-header {
    float: left;
  }
  .rtl .navbar-header {
    float: right;
  }
  .navbar-header .navbar-toggle {
    display: block;
    margin: 0px 0 0;
    padding: 5px 0;
    width: 40px;
    font-size: 20px;
    color: white;
    background-color: #80b435;
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .rtl .navbar-header .navbar-toggle {
    float: right;
  }
  .navbar-header .navbar-toggle:hover {
    color: white;
  }

  .collapse.navbar-collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none;
    width: 100%;
  }
  .navbar-nav > li {
    display: inline;
  }

  .ct-megamenu .navbar-nav > li {
    float: none;
  }
  .ct-megamenu .navbar-nav > li > a:before {
    display: none;
  }
  .ct-megamenu .navbar-nav > li.home > a {
    padding-left: 20px;
  }
  .rtl .ct-megamenu .navbar-nav > li.home > a {
    padding-right: 20px;
    padding-left: inherit;
  }
  .ct-megamenu .dropdown-menu .mega-col {
    width: 100%;
  }

  .ct-widget .product-block .image {
    width: 31%;
  }
  .ct-widget .product-block .name {
    height: 29px;
    line-height: 24px;
  }
  .ct-widget .product-block .name a {
    line-height: 14px;
    font-size: 13px;
  }

  .ct-megamenu .navbar-nav > li.new .sub-title,
  .ct-megamenu .navbar-nav > li.hot .sub-title {
    display: none;
  }

  .float-vertical.active > .block_content {
    position: relative;
  }

  #ct-verticalmenu .open > .dropdown-menu {
    max-width: 100%;
    position: relative;
    left: auto !important;
    width: 100% !important;
    top: 100%;
  }

  div.verticalmenu .navbar-nav {
    margin: 0;
  }

  .dropdown-menu > li > a {
    padding: 3px 0;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
  }

  ul.links li .fa, ul.links li .icon {
    width: 10px;
  }

  .ApColumn .view-product-special .product-block .image {
    width: auto;
  }

  #powered {
    text-align: center;
  }
  #powered .ApImage {
    text-align: center;
    float: none !important;
  }

  .box-service {
    border: 1px solid #ebebeb;
    border-bottom: none;
  }
  .box-service.no-border-right {
    border: 1px solid #ebebeb;
  }

  #footer .footer-block.block {
    padding: 0;
    margin-bottom: 0;
  }

  #footer-center > .ApColumn {
    padding: 40px 30px 20px;
    min-height: 215px;
  }
  #footer-center > .ApColumn:before {
    display: none;
  }
  #footer-center > .ApColumn .block {
    margin-bottom: 20px;
  }

  .footer-left {
    border: none;
    min-height: auto;
  }
  .footer-left .ApImage img {
    display: inline-block;
  }

  #social_block ul {
    float: none;
  }
  #social_block ul li {
    float: none;
    display: inline-block;
  }

  .view-product.products_block .product-block .box-buttons {
    bottom: 26%;
  }
  .view-product.products_block .product-default-li .box-buttons {
    bottom: 26%;
  }
}
@media (max-width: 990px) {
  .header-logo {
    text-align: center;
    margin-bottom: 30px;
  }

  #footer .ApBlockLink .block {
    margin-bottom: 20px;
  }
  #footer .footer-copyright {
    text-align: center;
  }
  #footer .footer-copyright .ApImage.pull-right {
    float: none !important;
  }
  #footer .footer-html2 {
    padding-left: 15px;
  }
  .rtl #footer .footer-html2 {
    padding-right: 15px;
    padding-left: inherit;
  }
  #footer .footer-top {
    padding: 40px 0 !important;
  }
  #footer #newsletter_block_left .block_content .title_block {
    text-align: left;
  }
  .rtl #footer #newsletter_block_left .block_content .title_block {
    text-align: right;
  }

  #newsletter_block_left .block_content form {
    width: 80%;
  }

  .cart_block .block_content {
    height: 580px;
  }
}
@media (max-width: 767px) {
  .space-padding-top-60 {
    padding-top: 20px !important;
  }

  .index #categories_block_left .title_block:after {
    top: 20px;
  }
  .index #categories_block_left .block_content {
    display: none;
  }
  .index #categories_block_left.active .block_content {
    display: block;
  }

  #footer .ApColumn {
    z-index: 2;
    min-height: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .sidebar .carousel-control,
  .sidebar .owl-theme .owl-controls .owl-buttons div,
  .manufacturers_block .carousel-control,
  .manufacturers_block .owl-theme .owl-controls .owl-buttons div {
    top: 50%;
  }
  .sidebar .carousel-control.left, .sidebar .carousel-control.owl-prev,
  .sidebar .owl-theme .owl-controls .owl-buttons div.left,
  .sidebar .owl-theme .owl-controls .owl-buttons div.owl-prev,
  .manufacturers_block .carousel-control.left,
  .manufacturers_block .carousel-control.owl-prev,
  .manufacturers_block .owl-theme .owl-controls .owl-buttons div.left,
  .manufacturers_block .owl-theme .owl-controls .owl-buttons div.owl-prev {
    right: auto;
    left: -12px;
  }
  .sidebar .carousel-control.right, .sidebar .carousel-control.owl-next,
  .sidebar .owl-theme .owl-controls .owl-buttons div.right,
  .sidebar .owl-theme .owl-controls .owl-buttons div.owl-next,
  .manufacturers_block .carousel-control.right,
  .manufacturers_block .carousel-control.owl-next,
  .manufacturers_block .owl-theme .owl-controls .owl-buttons div.right,
  .manufacturers_block .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: -12px;
  }

  .deal-product .product-block .left-block {
    width: 100%;
  }
  .deal-product .product-block .right-block {
    width: 100%;
    padding: 0;
  }
  .deal-product .product-block .ct-more-cdown ul li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .index #categories_block_left .block_content ul li:first-child {
    border: 0;
    margin-top: 0px;
  }

  .iview-controlNav div.iview-items {
    bottom: 0;
  }

  #footer-center > .ApColumn {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #footer-center > .ApColumn:before {
    display: none;
  }
}
@media (max-width: 640px) {
  .page-heading {
    width: 100%;
  }

  .nav-tabs.page-product-heading {
    width: 100%;
  }

  .tab-content.page-product-content {
    width: 100%;
  }

  .ajax_add_to_cart_button {
    width: auto;
  }

  #ctsearchtopbox {
    margin: 20px 0 0;
  }
  #ctsearchtopbox .group-ctsearch {
    width: 100%;
  }
  #ctsearchtopbox input {
    width: 50%;
  }
  #ctsearchtopbox select {
    display: none;
  }
  #ctsearchtopbox button {
    position: absolute;
    top: 0;
    width: auto;
    right: 0;
  }
  .rtl #ctsearchtopbox button {
    left: 0;
    right: auto;
  }

  .view-product.products_block .product-block .box-buttons {
    bottom: 17%;
  }
  .view-product.products_block .product-default-li .box-buttons {
    bottom: 17%;
  }
  .view-product.best-seller .product-block .box-buttons {
    bottom: 35%;
  }

  .cart_block .block_content {
    height: 320px;
  }

  .footer-copyright .ApImage {
    text-align: center;
  }
  .footer-copyright .ApImage img {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .header-top .row {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .header-top .logo {
    margin: 0 auto 0px auto;
  }

  .effect-julia {
    display: none;
  }
  .effect-julia img {
    margin: auto;
  }

  #layer_cart .layer_cart_cart .button-container {
    text-align: center;
  }

  #layer_cart .layer_cart_cart .button-container .btn {
    float: none!important;
    margin-bottom: 10px;
  }

  .blockcart_top {
    bottom: -14px;
    z-index: 999;
    position: absolute;
    right: 0;
    width: 65px;
  }
  .rtl .blockcart_top {
    left: 0;
    right: auto;
  }
  .blockcart_top .ajax_cart_quantity {
        text-align: center;
    line-height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 55px;
    color: white;
    height: 20px;
    position: absolute;
    right: 8px;
    position: absolute;
    bottom: 15px;
  }
  .rtl .blockcart_top .ajax_cart_quantity {
    left: 0px;
    right: auto;
  }

  #header .blockcart_top .cart_block {
    width: 292px;
  }

  #cart {
    min-width: inherit;
  }
  #cart .title-cart span {
    display: none;
  }
  #cart .ajax_cart_no_product {
    display: none !important;
  }
  #cart .heading .icon-icart {
    margin-right: 0;
  }
  .rtl #cart .heading .icon-icart {
    margin-left: 0;
    margin-right: inherit;
  }

  .popup-over .popup-title span {
    display: none;
  }

  .tabs-top .title_block {
    float: none !important;
  }
  .tabs-top .nav-tabs.nav {
    margin-top: 20px;
    border: 1px solid #ebebeb;
  }
  .tabs-top .nav-tabs.nav > li {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tabs-top .nav-tabs.nav > li:before {
    content: none;
  }
  .tabs-top .nav-tabs.nav > li > a {
    padding: 10px 15px;
    text-align: left;
  }
  .rtl .tabs-top .nav-tabs.nav > li > a {
    text-align: right;
  }

  .deal-product .product-block .product-meta {
    padding: 20px 0;
  }

  .block_carousel .block-carousel-image-container .block-content {
    padding: 5em 1em;
  }
  .block_carousel .block-carousel-image-container .block-content h3 a {
    font-size: 20px;
  }

  .nav-tabs.page-product-heading > li {
    float: none;
  }
  .nav-tabs.page-product-heading > li > a {
    margin-right: 0;
  }
  .rtl .nav-tabs.page-product-heading > li > a {
    margin-left: 0;
    margin-right: inherit;
  }

  .pb-left-column #image-block img {
    width: 100%;
  }

  .cart_navigation {
    text-align: center;
  }
  .cart_navigation .btn {
    float: none !important;
    margin-top: 10px;
  }

  #footer.footer-container .footer-block.block .title_block {
    width: 100%;
  }

  .view-product.products_block .product-block .box-buttons {
    bottom: 20%;
  }
  .view-product.products_block .product-default-li .box-buttons {
    bottom: 20%;
  }
  .view-product.best-seller .product-block .box-buttons {
    bottom: 41%;
  }

  .index .products_block {
    clear: both;
  }

  .pb-left-column #image-block {
    width: 70%;
  }
  .pb-left-column #views_block {
    width: 30%;
  }
}
@media (max-width: 320px) {
  .pb-center-column h1 {
    font-size: 18px;
  }

  #newsletter_block_left .block_content form {
    width: 100%;
  }
  #newsletter_block_left .block_content form .btn {
    padding: 0 10px;
  }

  .view-product.products_block .product-block .box-buttons {
    bottom: 30%;
  }
  .view-product.products_block .product-default-li .box-buttons {
    bottom: 30%;
  }

  .popup-over .popup-title {
    padding: 0 28px 0 15px;
    position: relative;
  }
}
