
.nopadding-left {
  padding-left: 0;
}
.rtl .nopadding-left {
  padding-right: 0;
  padding-left: inherit;
}

.nopadding-right {
  padding-right: 0;
}
.rtl .nopadding-right {
  padding-left: 0;
  padding-right: inherit;
}

.bg-fullwidth {
  position: relative;
}
.bg-fullwidth:before {
  padding: 0px 1000px;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
  position: absolute;
  height: 100%;
  display: inherit;
  top: 0;
  z-index: 0;
  margin-left: -385px;
  background-color: #36b5e9;
}
.rtl .bg-fullwidth:before {
  margin-right: -385px;
  margin-left: inherit;
}

.block_carousel {
  position: relative;
  z-index: 2;
}

.group-widget .title_block {
  margin: 0;
  padding: 0 0 20px 15px;
}
.rtl .group-widget .title_block {
  padding: 0 15px 20px 0;
}
.group-widget .ApImage.block {
  margin: 0;
}

/**
* Start for module ap_gmap
*/
div[id^="google-maps"] {
  position: relative;
}

div[id^="gmap-stores-list"] {
  overflow: auto!important;
}

div[id^="gmap-stores-list"] > ul {
  margin: 30px;
}

.display-list-store {
  background-color: #6cabd5;
  float: left;
}

.gmap-stores-content, .gmap-content {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}

.not-display-list-store .gmap-stores-content, .not-display-list-store .gmap-content {
  width: 100%;
}

.gmap-cover {
  width: 100%;
}

.item-gmap-store {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item-gmap-store:hover {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-gmap-store .icon-map-marker {
  margin-right: 6px;
  font-size: 120%;
}
.item-gmap-store text {
  font-size: 85%;
}

/**
* End for module ap_gmap
*/
/**
* Start for module ap_product_list
*/
.box-show-more {
  border-bottom: 1px solid #d6d4d4;
  padding-bottom: 5px;
  text-align: center;
  display: none;
}
.box-show-more .open {
  display: block;
}

/* Start for module ap_image */
.ap_image .has-animation {
  opacity: 0;
  filter: alpha(opacity=0);
}

.ap_image .has-animation.animated {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* End for module ApFullSlider */
.full-slider {
  margin-top: 20px;
}
.full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
}
.full-slider .carousel-inner .item {
  width: 100%;
  height: 100%;
}

.full_slide_detail .full-slider {
  margin-top: 50px;
}
.full_slide_detail .full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(../img/background_image_gallery.gif);
}
.full_slide_detail .full-slider .carousel-inner .item {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
}

/* Start for module ApFullSlider */
.cover-live-edit {
  width: 100%;
  border-top: 1px dashed #bdbdbd;
}
.cover-live-edit .link-to-back-end {
  text-decoration: none;
  color: #fff;
  z-index: 9999;
  background-color: rgba(204, 153, 0, 0.5);
  padding: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 5px #bdbdbd;
  box-shadow: 0 0 5px #bdbdbd;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cover-live-edit .link-to-back-end:hover {
  background-color: #00e676;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ap-cover-hook {
  border: 1px dashed #bdbdbd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ap-cover-hook:hover {
  border: 1px dashed #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/**
* ApVideo
*/
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs-top {
  overflow: hidden;
  padding: 80px 0 40px;
}
.tabs-top .title_block {
  float: left;
  padding-right: 40px;
}
.rtl .tabs-top .title_block {
  float: right;
}
.rtl .tabs-top .title_block {
  padding-left: 40px;
  padding-right: inherit;
}
.tabs-top .nav-tabs {
  margin-bottom: 30px;
  border-bottom: none;
}
.tabs-top .nav-tabs > li {
  position: relative;
  padding: 0 15px 0 10px;
  float: left;
}
.rtl .tabs-top .nav-tabs > li {
  padding: 0 10px 0 15px;
}
.rtl .tabs-top .nav-tabs > li {
  float: right;
}
.tabs-top .nav-tabs > li:before {
  position: absolute;
  content: "/";
  top: 10px;
  right: 0;
}
.rtl .tabs-top .nav-tabs > li:before {
  left: 0;
  right: auto;
}
.tabs-top .nav-tabs > li > a {
  text-transform: uppercase;
  color: #666666;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tabs-top .nav-tabs > li > a:hover {
  border: none;
  color: black;
  background-color: transparent;
}
.tabs-top .nav-tabs > li.active a, .tabs-top .nav-tabs > li.active a:active, .tabs-top .nav-tabs > li.active a:focus {
  color: black;
  border: none;
}
.tabs-top .owl-theme .owl-controls .owl-buttons div {
  top: -75px;
}

/**
* Aphtml
*/
.fearure-content h3 {
  color: #222;
}
.fearure-content a {
  color: #80b435;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 40px;
}
.fearure-content a .fa {
  margin: 0 6px;
  font-size: 10px;
}
.fearure-content a:hover {
  color: #ed8c53;
}

.box-service {
  color: white;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.box-service .block {
  margin-bottom: 0;
  padding: 55px 100px;
  text-align: center;
}
.box-service .fbox-icon {
  overflow: hidden;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.rtl .box-service .fbox-icon {
  margin-left: 20px;
  margin-right: inherit;
}
.box-service.box-service1 {
  background-color: #e27979;
}
.box-service.box-service2 {
  background-color: #3f3f3f;
}
.box-service.box-service3 {
  color: black;
  background-color: #f4f4f4;
}
.box-service.box-service3 a {
  color: black;
}
.box-service a {
  color: white;
}
.box-service:hover {
  letter-spacing: 2px;
  /* a {color: $theme-color-default;} */
}

.ct-more-info {
  position: absolute;
  z-index: 4000;
  top: 0;
  left: 0;
  min-height: 380px;
  display: none;
  float: left;
  text-align: left;
  padding: 5px 5px 10px 5px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 46px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 46px 12px rgba(0, 0, 0, 0.1);
}

.ct-more-over {
  position: relative;
  z-index: 0;
}

.ct-more-image {
  opacity: 0;
  left: 0;
  top: 0;
  position: absolute;
}

.ct-preview {
  position: absolute;
  z-index: 4000;
  top: 0;
  left: 0;
  display: none;
  float: left;
  text-align: left;
  padding: 5px 5px 10px 5px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 46px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 46px 12px rgba(0, 0, 0, 0.1);
}

.ct-preview .col-1 {
  width: 75px;
}
.ct-preview .col-2 {
  width: 260px;
}
.ct-preview .big_image {
  text-align: center;
  margin-bottom: 5px;
}
.ct-preview .wrapper-hover {
  padding: 3px 9px 12px;
}

.thumbs_list {
  float: left;
  margin-left: 13px;
  overflow: hidden;
  width: 85px;
  height: 256px;
}
.thumbs_list li {
  cursor: pointer;
  float: left;
  height: 85px;
  width: 85px;
}
.thumbs_list li a {
  border: 1px solid #ebebeb;
  display: block;
  margin: 0 1px;
  text-align: center;
}
.thumbs_list ul.thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
}

.product-tabs .carousel-control,
.product-tabs .owl-theme .owl-controls .owl-buttons div {
  top: 50%;
}
.product-tabs .carousel-control.left, .product-tabs .carousel-control.owl-prev,
.product-tabs .owl-theme .owl-controls .owl-buttons div.left,
.product-tabs .owl-theme .owl-controls .owl-buttons div.owl-prev {
  right: auto;
  left: -12px;
}
.product-tabs .carousel-control.right, .product-tabs .carousel-control.owl-next,
.product-tabs .owl-theme .owl-controls .owl-buttons div.right,
.product-tabs .owl-theme .owl-controls .owl-buttons div.owl-next {
  right: -12px;
}

.deal-product .carousel-control,
.deal-product .owl-theme .owl-controls .owl-buttons div {
  top: 40%;
}
.deal-product .product-block .image {
  margin: 0;
}
.deal-product .product-block .price {
  font-size: 18px;
}
.deal-product .product-block .old-price {
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
}
.rtl .deal-product .product-block .old-price {
  margin-left: 5px;
  margin-right: inherit;
}
.deal-product .product-block .product-rating {
  display: block;
}
.deal-product .product-block .product-meta {
  padding: 20px;
}
.deal-product .product-block .name a {
  font-size: 18px;
}
.deal-product .product-block .label-new {
  left: 30px;
}
.rtl .deal-product .product-block .label-new {
  right: 30px;
  left: auto;
}
.deal-product .product-block .label-sale {
  right: 30px;
}
.rtl .deal-product .product-block .label-sale {
  left: 30px;
  right: auto;
}
.deal-product .product-block .ct-more-cdown {
  text-align: center;
  margin-top: 20px;
}
.deal-product .product-block .ct-more-cdown .day {
  color: #ed8c53;
}
.deal-product .product-block .ct-more-cdown .day b {
  color: #ed8c53;
}
.deal-product .product-block .ct-more-cdown .lof-labelexpired {
  padding: 0 10px;
  border: 1px solid #000;
  display: inline-block;
  min-width: 200px;
  height: 58px;
  line-height: 58px;
}
.deal-product .product-block .ct-more-cdown ul li {
  padding: 10px;
  min-width: 60px;
  font-size: 14px;
  color: #999;
  background: #689626;
  margin-right: 1px;
}
.rtl .deal-product .product-block .ct-more-cdown ul li {
  margin-left: 1px;
  margin-right: inherit;
}
.deal-product .product-block .ct-more-cdown ul li b {
  color: white;
  display: block;
  font-weight: 400;
}
.deal-product .product-block .content_price {
  margin: 15px;
}
.deal-product .product-block .functional-buttons {
  margin: 30px 0 0;
}
.deal-product .product-block .functional-buttons a {
  float: left;
  margin-right: 10px;
}
.rtl .deal-product .product-block .functional-buttons a {
  float: right;
}
.rtl .deal-product .product-block .functional-buttons a {
  margin-left: 10px;
  margin-right: inherit;
}
.deal-product .product-block .functional-buttons .ajax_add_to_cart_button {
  width: auto;
}

.view-product-special .product-block {
  margin: 27px 0 24px;
  text-align: left;
}
.rtl .view-product-special .product-block {
  text-align: right;
}
.view-product-special .product-block .image {
  float: left;
  margin: 0 10px 0 0;
  width: 35%;
}
.rtl .view-product-special .product-block .image {
  float: right;
}
.rtl .view-product-special .product-block .image {
  margin: 0 0 0 10px;
}
.view-product-special .product-block .product-meta {
  width: 54%;
  float: left;
}
.rtl .view-product-special .product-block .product-meta {
  float: right;
}
.view-product-special .product-block .label-sale,
.view-product-special .product-block .label-new {
  display: none;
}
.view-product-special .product-block .content_price {
  float: left;
}
.rtl .view-product-special .product-block .content_price {
  float: right;
}
.view-product-special.toplist-product {
  border: 1px solid #ebebeb;
}
.view-product-special.toplist-product .product-block .name a {
  font-size: 13px;
}
.view-product-special.toplist-product .product_list {
  margin: 0;
}
.view-product-special.onsale .owl-carousel,
.view-product-special.onsale .carousel-inner {
  padding: 0 !important;
  margin: 0;
}

.view-product .product-block {
  margin-bottom: 0;
}
.view-product .product-block .name {
  width: 130px;
}
.view-product .product-block .box-buttons {
  bottom: 33%;
}
.view-product .product-block .productinfor {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: auto;
  background: white;
  padding: 12px 15px 2px;
  left: 20px;
}
.rtl .view-product .product-block .productinfor {
  right: 20px;
  left: auto;
}

.widget-category_image .owl-row {
  margin: 0;
}
.widget-category_image .owl-carousel .owl-item {
  padding: 0;
}
.widget-category_image ul {
  position: relative;
  margin-bottom: 0;
}
.widget-category_image ul li {
  overflow: hidden;
}
.widget-category_image ul li img {
  -webkit-transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s;
}
.widget-category_image ul li:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -moz-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
}
.widget-category_image .title_block a {
  color: white;
}
.widget-category_image .title_block a:hover {
  color: #80b435;
}
.widget-category_image .title_block:before {
  background: none !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.widget-category_image .title_block:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 1px;
  background-color: #bfbebc;
}
.widget-category_image .ct-qty {
  color: white;
}
.widget-category_image .link_visit {
  margin-top: 20px;
}
.widget-category_image .link_visit .btn {
  padding: 12px 30px;
  color: black;
  background-color: white;
  font-weight: bold;
}
.widget-category_image .link_visit .btn:hover {
  color: white;
  background-color: #80b435;
}
.widget-category_image .cate_content {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.widget-twitter.block .block_content {
  padding: 20px;
  min-height: 345px;
}

.instagram-block .block-content {
  padding: 15px 15px 10px 15px;
  background-color: white;
}
.instagram-block #instafeed:before, .instagram-block #instafeed:after {
  display: table;
  content: "";
  clear: both;
}
.instagram-block #instafeed a {
  float: left;
  width: 25%;
  height: 75px;
  overflow: hidden;
  padding: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
}
.rtl .instagram-block #instafeed a {
  float: right;
}
.instagram-block #instafeed a:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  zoom: 1;
  background-color: transparent\9;
  -webkit-transition: transform 0.8s;
  transition: transform 0.8s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
.rtl .instagram-block #instafeed a:before {
  right: 0;
  left: auto;
}
.instagram-block #instafeed a:hover:before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.instagram-block #instafeed a img {
  width: 100%;
}
.instagram-block #instafeed.owl-carousel .owl-item {
  padding: 0;
}
.instagram-block .link-instagram {
  margin-top: 15px;
}
.instagram-block .link-instagram a {
  font-size: 16px;
}

.html-reassurances .media {
  padding: 15px 10px 5px 20px;
  margin: 0;
}
.rtl .html-reassurances .media {
  padding: 15px 20px 5px 10px;
}
.html-reassurances .media h5 {
  font-size: 13px;
  margin: 5px 0;
}
.html-reassurances .media.border-bottom {
  border-bottom: 1px solid #ebebeb;
}
.html-reassurances .media:hover {
  cursor: pointer;
}
.html-reassurances .media:hover .fa {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.html-reassurances .media-left {
  float: left;
  margin-right: 10px;
}
.rtl .html-reassurances .media-left {
  float: right;
}
.rtl .html-reassurances .media-left {
  margin-left: 10px;
  margin-right: inherit;
}
.html-reassurances .media-left .fa {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #6b3de5;
  width: 42px;
  height: 42px;
  color: #FFF;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}
.html-reassurances .media-left .fa.blue {
  background-color: #80b435;
}
.html-reassurances .media-left .fa.green {
  background-color: #42b47c;
}
.html-reassurances .media-left .fa.yellow {
  background-color: #ebb04e;
}
.html-reassurances .border-bottom:last-child {
  border-bottom: none;
}

#testimonial {
  text-align: center;
}
#testimonial .title_block {
  color: white;
}
#testimonial .title_block:before, #testimonial .title_block:after {
  background-position: -51px 0;
}
#testimonial .title_block:after {
  right: -60px;
  left: inherit;
}
#testimonial .title {
  display: none;
}
#testimonial img {
  display: inline-block;
  margin-top: 35px;
}
#testimonial .testimonial-item {
  padding: 20px 30px 0;
  font-size: 14px;
  font-family: "Playfair Display", sans-serif;
  color: white;
}
#testimonial .profile {
  margin: 20px 0;
  color: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.block_carousel .block-carousel-image-container {
  position: relative;
}
.block_carousel .block-carousel-image-container .block-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 17em 2em 5em;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  color: white;
  font-family: "Playfair Display", sans-serif;
}
.rtl .block_carousel .block-carousel-image-container .block-content {
  right: 0;
  left: auto;
}
.block_carousel .block-carousel-image-container .block-content h3 {
  position: relative;
  margin-bottom: 55px;
}
.block_carousel .block-carousel-image-container .block-content h3:before {
  width: 30px;
  top: inherit;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  content: "";
  border-bottom: 1px solid #FFF;
}
.block_carousel .block-carousel-image-container .block-content h3 a {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.block_carousel .block-carousel-image-container .block-content h3 a:hover, .block_carousel .block-carousel-image-container .block-content h3 a:focus {
  color: #ed8c53;
}
.block_carousel .block-carousel-image-container .block-content .btn {
  margin-top: 10px;
  padding: 6px 12px;
  color: white;
  border: 1px solid #FFF;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.block_carousel .block-carousel-image-container .block-content .btn:hover {
  color: #689626;
  background: white;
}
.block_carousel .block-carousel-image-container:hover .block-content {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #80b435;
  background-color: rgba(128, 180, 53, 0.8);
  zoom: 1;
  background-color: transparent\9;
}

/* *********************************************************
  Lastest Blog
******************************************************* */
.latest-blogs .owl-row {
  margin: 0px;
}
.latest-blogs .owl-carousel .owl-item {
  padding: 0px;
}
.latest-blogs .block_content {
  padding: 20px;
  min-height: 345px;
}
.latest-blogs .blog-container .blog-image-container {
  margin-bottom: 15px;
}
.latest-blogs .blog-container .blog-title {
  margin: 10px 0 0px;
  height: 46px;
  line-height: 22px;
  overflow: hidden;
  text-transform: none;
}
.latest-blogs .blog-container .blog-title a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.latest-blogs .blog-container .blog-info .created,
.latest-blogs .blog-container .blog-info .hits,
.latest-blogs .blog-container .blog-info .nbcomment {
  margin-right: 20px;
}
.rtl .latest-blogs .blog-container .blog-info .created, .rtl
.latest-blogs .blog-container .blog-info .hits, .rtl
.latest-blogs .blog-container .blog-info .nbcomment {
  margin-left: 20px;
  margin-right: inherit;
}
.latest-blogs .blog-container .blog-desc {
  line-height: 30px;
  font-size: 16px;
}
.latest-blogs .blog-container .blog_img_link {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* &:before {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    @include opacity(0);
    @include rtl-left(0);
    @include transform-origin(50% 50%);
    @include transform(rotate3d(0,0,1,45deg) scale3d(1,0,1));
    @include transition(opacity 0.35s, transform 0.35s);
  } */
}
.latest-blogs .blog-container .blog_img_link img {
  -webkit-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.latest-blogs .blog-container .blog_img_link:hover {
  /* &:before {
    @include opacity(1);
    @include transform(rotate3d(0,0,1,45deg) scale3d(1,1,1));
  } */
}
.latest-blogs .blog-container .blog_img_link:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transform: scale3d(1.05, 1.05, 1);
  -moz-transform: scale3d(1.05, 1.05, 1);
  -ms-transform: scale3d(1.05, 1.05, 1);
  -o-transform: scale3d(1.05, 1.05, 1);
}

.blog-box:before {
  border-bottom: 1px solid #e8e8e8;
}

.contact-us li {
  margin-bottom: 10px;
  display: flex;
  line-height: 18px;
}
.contact-us a {
  text-decoration: underline;
}
.contact-us a:hover {
  color: #80b435;
}
.contact-us .fa {
  padding-right: 15px;
  color: #999;
  font-size: 14px;
}
.rtl .contact-us .fa {
  padding-left: 15px;
  padding-right: inherit;
}
.contact-us .fa:before {
  border: 1px solid #4d4d4d;
  width: 34px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
}

.manufacturers_block {
  text-align: center;
}
.manufacturers_block.block {
  margin-bottom: 0;
}
.manufacturers_block .owl-item img {
  display: inline-block;
}

.ApImage.image-right {
  margin-bottom: 20px;
}

.image-top .ApImage {
  margin-bottom: 0;
}
.image-top .ApImage img {
  border-right: 1px solid #ebebeb;
}
.rtl .image-top .ApImage img {
  border-left: 1px solid #ebebeb;
  border-right: inherit;
}
.image-top .ApImage:first-child {
  border-bottom: 1px solid #ebebeb;
}

.footer-link .block {
  margin-bottom: 0 !important;
}
.footer-link .block .bullet {
  margin: 0;
  padding: 30px 0 15px;
  border-bottom: 1px solid #575757;
}
.footer-link .block .bullet li {
  display: inline-block;
  margin-right: 10px;
}
.rtl .footer-link .block .bullet li {
  margin-left: 10px;
  margin-right: inherit;
}

li.h-entry.tweet.js-tweetIdInfo.with-expansion.customisable-border {
  border-bottom: 1px solid #000;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #6ce0f9;
    position: absolute;
    right: 115px;
    top: -10px;
    z-index: 1001;
}
.arrow-border {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #BBBBBB;
    position: absolute;
    top: -11px;
    z-index: 1000;
    right: 114px;
}
.ngdialog.ngdialog-selectCity .ngdialog-content
{
  margin-top: -111px!important;
  float: right;
  margin-right: 14px!important;
  width: 542px!important;
  box-shadow: 2px 6px 17px #092c33;
  background-color: #6ce0f9!important;
}
.align-center
{
    text-align: center;
    font-size: 18px;
}

.subscriptionPage img.titleimg
{
    height: 120px;
    width: 125px;
    position: absolute;
}
.subscriptionPage .titlesub
{
    position: relative;
   margin-left: 138px;
    margin-top: 25px;
}
.subscriptionPage .title-sub-content
{
    border-left: 1px solid #ddd;
    color: #444;
    margin-top: 0px;
    padding: 16px;
    font-size: 16px;
}
.subscriptionPage .style-sub-field
{
    border: 1px solid #ddd;
    float: right;
    height: 22px;
    width: 230px;
    padding-left: 7px;
}
.multiple-date-picker, .picker-days-week-row, .picker-top-row {
    width: 100%;
    border: 1px solid #eee;
}
.picker-day:not(.picker-off):not(.picker-empty):hover {
    background-color: #00cefc!important;
    color: #fff;
    cursor: pointer;
}
.picker-day.picker-selected {
    background-color: #00cefc!important;
    color: #fff;
}
.picker-day.picker-selected.picker-off, .picker-day.picker-selected.picker-off:hover {
    background-color: #059c03!important;
    color: #bbb;
    cursor: default;
}
.picker-day.today, .picker-day.today.picker-off, .picker-day.today.picker-off:hover, .picker-day.today.picker-selected, .picker-day.today:hover {
    color: #ff5b0a!important;
    font-weight: 800;
    font-size: 17px;
}
.picker-day.exception:not(.picker-selected){
    background-color: #ded100;
    color: #000;
}

/*apply colors if not selected, if selected I want the default selected css*/
.picker-day.holiday:not(.picker-selected){
    background-color: #00ffa2;
    color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/
.picker-day.holiday.picker-off{
    background-color: #00a267;
    color: #fff;
    cursor: default;
}

/*my birthday, is clickable*/
.picker-day.birthday:not(.picker-selected){
    background-color: #ded100;
    color: #000;
}

.loading-spiner-holder {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  position: absolute;
}
.box{ 
  position: relative;
   height: 23px;
    width: 23px;
    left: 19%;
    margin-top: -22px;
}