<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;width: 1349px;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="email-forgot-pass">Email</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="mobil-forget-pass">Mobile</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="email-form" name="forgot_password_email_form" style="display: block;">
									<div class="form-group">
										<label for="user_email">Email</label>
										<input class="account_input form-control" placeholder="Email Id" type="email" name="user_email" ng-model="user.email" required>
						              	<span class="invalid" ng-show=" !forgot_password_email_form.user_email.$error.required && forgot_password_email_form.user_email.$error.email && forgot_password_email_form.user_email.$dirty">Invalid email</span>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button type="button" name="login-submit" id="login-submit" class="form-control btn btn-outline btn-register"  ng-click="recoverPasswordonEmail()" ng-disabled="forgot_password_email_form.$invalid">Recover it
												</button>
											</div>
										</div>
									</div>
								</form>
								<form id="mobile-form" name="forgot_password_form" style="display: none;">
									<div class="form-group">
										<label for="email_create">Mobile No</label>
										<input class="account_input form-control" type="number" name="mobile" ng-model="user.mobile" placeholder="Mobile No" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
						              	<span class="invalid" ng-show="!forgot_password_form.mobile.$error.minLength && !forgot_password_form.mobile.$error.maxLength && forgot_password_form.mobile.$error.pattern">Invalid Mobile No</span>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button type="button" name="login-submit" id="login-submit" class="form-control btn btn-outline btn-register" ng-click="recoverPasswordonMobile()" ng-disabled="forgot_password_form.$invalid">Recover it
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -85px;"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>
<script type="text/javascript">
	$(function() {

    $('#email-forgot-pass').click(function(e) {
		$("#email-form").delay(100).fadeIn(100);
 		$("#mobile-form").fadeOut(100);
		$('#mobil-forget-pass').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#mobil-forget-pass').click(function(e) {
		$("#mobile-form").delay(100).fadeIn(100);
 		$("#email-form").fadeOut(100);
		$('#email-forgot-pass').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});

</script>


</div>