<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
	<section id="columns" class="columns-container" style="margin-top: 17px;">
	<div class="container">
	<div id="slideshow" class="clearfix">					
    	<div class="row ApRow has-bg bg-boxed" data-bg="no-repeat" style="background: no-repeat; margin-bottom: 30px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
			<div id="slideshow-form_20019232511822732" class="ApSlideShow">
				<div class="imageslide" ng-switch='slideshow' ng-animate="'animate'">
				    <div class="slider-content" ng-switch-when="1">
				        <img src="img/banner1-1.jpg" width="100%" height="430px"/>
				    </div>  
					<div class="slider-content" ng-switch-when="2">
					    <img src="img/banner1-2.jpg" width="100%" height="430px"/>
					</div>
					<div class="slider-content" ng-switch-when="3">
					    <img src="img/banner1-3.jpg" width="100%" height="430px"/>
					</div> 

					<div class="slider-content" ng-switch-when="4">
					    <img src="img/banner1-4.jpg" width="100%" height="430px"/>
					</div>
					<div class="slider-content" ng-switch-when="5">
					    <img src="img/banner1-5.jpg" width="100%" height="430px"/>
					</div>    
				</div> 
			</div>
		</div>
        </div>
	</div>
	</div>
	</section>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<section id="center_column" class="col-md-12">
			<div class="clearfix">
				<div class="row ApRow" style="">
						
	    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    		<div class="block products_block exclusive appagebuilder ApProductCarousel">
	    		<h4 class="title_block">dairy
	    		<span class="pull-right fontDesign"><a ui-sref="vegetables">more</a></span>
	    		</h4>
	    		<div class="block_content">	
	    			<div class="owl-row">

	    				<div class="panel-body"  ng-controller="vegetablesListCtrl">
			    			<div class="col-md-2" ng-repeat="vegetable in veg | limitTo:12 track by vegetable.id" ng-if="vegetable.price">
				    			<div class="product-block">
				    			<div class="left-block">
					    			<div class="product-image-container image">
					    				<img ng-src="{{vegetable.image}}" width="auto" height="auto" check-image/>
					    			</div>
				    			</div>
				    			<div class="right-block">
					    			<div class="product-meta">
					    				<h5 itemprop="name" class="name">{{vegetable.name}}</h5><br>
					    				<h5 itemprop="name" class="name" style="padding-top: 7px;">{{vegetable.hindi_name}}</h5>
					    				<div class="content_price">
					    					<span class="price product-price" ng-if="vegetable.quan">{{vegetable.price + " Rs/" + vegetable.quan}}</span>
					    					<span class="price product-price" ng-if="!vegetable.quan">{{vegetable.price + " Rs/ltr"}}</span>
					    				</div>
										<div class="functional-buttons clearfix">
											<a class="button ajax_add_to_cart_button btn btn-default" href="" title="Add to cart"  ng-click="showPopup(vegetable.id,vegetable.name,vegetable.hindi_name,vegetable.image,vegetable.price,vegetable.quan,vegetable.unit)">
											<i class="fa fa-shopping-cart"></i>
											</a>
										</div>
									</div>
								</div>
				    			</div>
			    			</div>
		    			</div>
	    			
	                </div>
	            </div>
	            </div> 
	            </div>
	            </div>
    			<div class="clearfix ApRow has-bg bg-boxed" data-bg=" no-repeat" style="background: no-repeat;">
				<div class="nopadding col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12 ApColumn">
					<div class="ApRawHtml block">
					<div class="block_content">
            		<div class="clearfix iconbox">
            		<i class="fa fa-truck"></i>
            		<div class="boxright">
            		<h4>Free shipping</h4>On all order over Rs 150
            		</div>
            		</div>
        			</div>
        			</div>
    			</div>
				<div class="nopadding border-icon col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12 ApColumn">
				<div class="ApRawHtml block">
					<div class="block_content">
            		<div class="clearfix iconbox">
            		<i class="fa fa-leaf"></i>
            		<div class="boxright">
            		<h4>100% fresh</h4>All our products, 24 hours in use
            		</div>
            		</div>
        			</div>
				</div>
    			</div>
				<div class="nopadding col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12 ApColumn">
				<div class="ApRawHtml block">
					<div class="block_content">
            		<div class="clearfix iconbox">
            		<i class="fa fa-android"></i>
            		<div class="boxright">
            		<h4>Free return</h4>A Free exchange on the spot
            		</div>
            		</div>
        			</div>
				</div>
    			</div>
            	</div>
            	<div class="row ApRow" style="">
					
	    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    		
	            <div class="block products_block exclusive appagebuilder ApProductCarousel">
	    		<h4 class="title_block">bakery
	    		<span class="pull-right fontDesign"><a ui-sref="fruits">more</a></span>
	    		</h4>
	    		<div class="block_content">	
	    			<div class="owl-row">

	    				<div class="panel-body"  ng-controller="fruitsListCtrl">
			    			<div class="col-md-2" ng-repeat="fruit in fru | limitTo:12 track by fruit.id " ng-if="fruit.price">
				    			<div class="product-block">
				    			<div class="left-block">
					    			<div class="product-image-container image">
					    				<img ng-src="{{fruit.image}}" width="auto" height="auto" check-image/>
					    			</div>
				    			</div>
				    			<div class="right-block">
					    			<div class="product-meta">
					    				<h5 itemprop="name" class="name">{{fruit.name}}</h5><br>
					    				<h5 itemprop="name" class="name" style="padding-top: 7px;">{{fruit.hindi_name}}</h5>
					    				<div class="content_price">
					    					<span class="price product-price" ng-if="fruit.quan">{{fruit.price + " Rs/" + fruit.quan}}</span>
					    					<span class="price product-price" ng-if="!fruit.quan">{{fruit.price + " Rs/number"}}</span>
					    				</div>
										<div class="functional-buttons clearfix">
											<a class="button ajax_add_to_cart_button btn btn-default" href="" title="Add to cart" ng-click="showPopup(fruit.id,fruit.name,fruit.hindi_name,fruit.image,fruit.price,fruit.quan,fruit.unit)">
											<i class="fa fa-shopping-cart"></i>
											</a>
										</div>
									</div>
								</div>
				    			</div>
			    			</div>
		    			</div>
	    			
	                </div>
	            </div>
	            </div>
	            </div>
	            </div>
            	<div class="row ApRow has-bg bg-boxed" data-bg=" no-repeat" style="background: no-repeat;;margin-bottom: 20px;">
            		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12 ApColumn ">
            			<div id="image-form_1450259087" class="block effect-julia ApImage">
            			<a href="#">
            			<img src="img/banner-9.jpg" class="img-responsive" title="" alt="banner" style="width:auto;height:auto" />
            			</a>
            			</div>
            		</div>
            		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12 ApColumn ">
            			<div id="image-form_1450259087" class="block effect-julia ApImage">
            			<a href="#">
            			<img src="img/banner-10.jpg" class="img-responsive" title="" alt="banner" style="width:auto;height:auto" />
            			</a>
            			</div>
            		</div>
            		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12 ApColumn ">
            			<div id="image-form_1450259087" class="block effect-julia ApImage">
            			<a href="#">
            			<img src="img/banner11.jpg" class="img-responsive" title="" alt="banner" style="width:auto;height:auto" />
            			</a>
            			</div>
            		</div>
            	</div>
    			
    			
			</div>
			</section>
			</div>
</div>
</section>
<div ui-view="footer"></div>
</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>