<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<section id="center_column" class="col-md-12">
			<div class="clearfix">
    		<div class="row ApRow" style="">
					
	    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
	    		<div class="block products_block exclusive appagebuilder ApProductCarousel">
	    		<h4 class="title_block">Dairy</h4>
	    		<div class="block_content">	
	    			<div class="owl-row">

	    				<div class="panel-body" >
			    			<div class="col-md-2" ng-repeat="vegetable in vegetables | filter:search_data" ng-if="vegetable.price">
				    			<div class="product-block">
				    			<div class="left-block">
					    			<div class="product-image-container image">
					    				<img ng-src="{{vegetable.image}}" width="auto" height="auto" check-image/>
					    			</div>
				    			</div>
				    			<div class="right-block">
					    			<div class="product-meta">
					    				<h5 itemprop="name" class="name">{{vegetable.name}}</h5><br>
					    				<h5 itemprop="name" class="name" style="padding-top: 7px;">{{vegetable.hindi_name}}</h5>
					    				<div class="content_price">
					    					<span class="price product-price">{{vegetable.price + " Rs/" + vegetable.quan}}</span>
					    				</div>
										<div class="functional-buttons clearfix">
											<a class="button ajax_add_to_cart_button btn btn-default" href="" rel="nofollow" title="Add to cart" ng-click="showPopup(vegetable.id,vegetable.name,vegetable.hindi_name,vegetable.image,vegetable.price,vegetable.quan,vegetable.unit)">
											<i class="fa fa-shopping-cart"></i>
											</a>
										</div>
									</div>
								</div>
				    			</div>
			    			</div>
		    			</div>
	    			
	                </div>
	            </div>
	            </div>
	            </div>
            </div>
			</div>
			</section>
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>