<!-- Footer -->
<footer id="footer" class="footer-container">       
<div class="container">
    <div class="row ApRow has-bg bg-boxed" data-bg=" no-repeat" style="background: no-repeat;padding-top:0px;padding-bottom:0px;" >
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sp-12 ApColumn hidden-xs hidden-sm">
    	<img src="img/app.png" style="width: 449px;" />
    </div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-sp-12 ApColumn" style="margin-top:83px;">
	<div class="block">
		<h4 class="title_block">Available in android app</h4>
		<p>Use Our App for best experience and Get 2 % extra recharge in your account</p>
		<a href="https://play.google.com/store/apps/details?id=com.dnbbazar.dnbbazarapp&hl=en" target="_blank"><button class="btn button" style="border-radius: 8px; margin-top: 26px;">download android app</button></a>

	</div>
	</div>
    </div>
    <div id="form_9766140771835732" class="row footer-copyright ApRow has-bg bg-fullwidth" data-bg=" #212121 no-repeat" style="" >
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-sp-12 ApColumn">
        <div class="ApRawHtml block">
        <div class="block_content" style="color: #ffffff;">
            <div>COPYRIGHT ©2016 <a ng-href="http://www.careertech.in/" target="_blank">CAREERTECH IT SOLUTIONS</a>. ALL RIGHTS RESERVED.</div>
        </div>
        </div>
    </div>
    </div>

</div>
</footer>