<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772" style="position: relative;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn" ng-if="subdata.length == 0">
				<div class="empty-cart">
			        <h3 class="no-products" style="padding-top: 40px;text-align: center;">Sorry !!!</h3>
			        <br>
			        <div class="align-center">
			          <div>You don't have any subscription</div>
			          <br>
			          <div>Please contact <strong>{{ContactInfo.mobile}}</strong> to Subscribe product</div>
			        </div>
			      </div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
		    	<div class="col-xs-12 col-sm-6 col-md-6" ng-repeat="s in subdata" ui-sref="subscription_detail({id:s.id})">
					<a class="item item-icon-left item-icon-right item-thumbnail-left" style="border-radius: 29px;cursor: pointer;">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-sp-4">
			            	<img ng-src="{{s.image}}" style="width: 93px;" check-image>
			            </div>
			          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-sp-8" style="margin-top: 16px;font-size: 17px;font-weight: 600;">
			            <span style="display: inline-block;white-space: pre-line;">{{s.name}}</span>
			          </div>
			        </a>
				</div>
	        </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->
</div>