<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>

	<section id="columns" class="columns-container vc_custom_1463650441772 subscriptionPage" style="position: relative;background-color: #fff;">
	<div class="custom-row-image hidden-xs hidden-sm" style="background-image: url(img/bg-grape.png);"></div>

		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
		    	<div class="col-xs-12 col-sm-6 col-md-6">
		    		<img ng-src="{{milk.image}}" class="titleimg" style="top: 0px!important;" check-image>
			        <div class="titlesub">
			        	<h4>{{milk.name}}</h4>
			            <p style="font-size: 17px;font-weight: 600;">{{milk.price}} Rs</p>
			        </div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="title-sub-content">
			        	<div>
			        		<label style="position: relative;">Quantity per day</label>
			           		<input type="text" ng-model="milk.quantity" class="style-sub-field" ng-disabled="true"/>
			            </div>
			            <div style="margin-top: 15px;">
			        		<label style="position: relative;">Frequency per day</label>
			                <input type="text" ng-model="milk.frequency" class="style-sub-field" ng-disabled="true"/>
			            </div>
			            <div style="margin-top: 15px;">
			        		<label style="position: relative;">Delivery time</label>
			                <input type="text" ng-model="milk.delivery_time" class="style-sub-field" ng-disabled="true"/>
			            </div>
			        </div>
				</div>
	        </div>
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn" style="border-top: 1px solid #ddd;margin-top: 25px;">
		    		<div class="title-sub-content" style="border: none;">
			            <h4 style="margin-top: 5px;">Total for {{day_count}} day(s)</h4>
			            <div style="margin-top: 20px;" class="col-xs-12 col-sm-4 col-md-4">
			        		<label style="position: relative;">Total Price</label>
			           		<input type="text" ng-model="milk.total_price" name="total_price" ng-disabled="true" class="style-sub-field"/>
			            </div>
			            <div style="margin-top: 20px;" class="col-xs-12 col-sm-4 col-md-4">
			        		<label style="position: relative;">Total Quantity</label>
			           		<input type="text" ng-model="total_qty" name="total_qty" ng-disabled="true" class="style-sub-field" style="width: 212px;" />
			            </div>
			            <div style="margin-top: 20px;" class="col-xs-12 col-sm-4 col-md-4">
			        		<label style="position: relative;">Remaining Quantity</label>
			           		<input type="text" ng-model="milk.remaing_quantity" name="remaing_quantity" ng-disabled="true" min="1" step="1" class="style-sub-field" style="width: 170px;" required/>
			            </div>
			            
			        </div>
		    </div>
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn" style="border-top: 1px solid #ddd;margin-top: 25px;">
		    	<div class="col-xs-12 col-sm-6 col-md-6">
		    		<div class="title-sub-content" style="border: none;">
			        	<h4 style="margin-top: 5px;">Select date for modification</h4>
			            <div style="margin-top: 20px;">
				            <multiple-date-picker disable-days-before="today" day-click="checkSelection" ng-model="myArrayOfDates" disable-days-after="lastDay"></multiple-date-picker>
			            	
			            </div>
			            <div style="position: absolute;margin-top: 39px;margin-left: 9px;">
			            	<div class="box" style="background-color: #059c03;"></div><span style="position: absolute;margin-top: -51px;margin-left: 50px;width: 157px;font-weight: 600;font-size: 14px;"> : Delivered Order</span>
			            	<div class="box" style="background-color: #00cefc;"></div><span style="position: absolute;margin-top: -51px;margin-left: 50px;width: 157px;font-weight: 600;font-size: 14px;"> : Order Remaining</span>
			            	<div class="box" style="background-color: #bbbec2;"></div><span style="position: absolute;margin-top: -51px;margin-left: 50px;width: 157px;font-weight: 600;font-size: 14px;"> : Order Unavailable</span>
			            </div>
			        
			        </div>
		    	</div>
		    	<div class="col-xs-12 col-sm-6 col-md-6">
		    		<div class="title-sub-content" ng-if="selected_dates.length>0 || excpdeldate.length>0" style="margin-top: 62px;margin-left: 48px;">
			            <div style="margin-top: 17px;">
			                <div style="margin-top: 17px;" ng-if="selected_dates.length>0">
			                    <h4>I don't want product on :</h4>
			                    <span ng-repeat="s in selected_dates" style="margin-right: 20px;">{{s}} </span>
			                </div>
			                <div style="margin-top: 20px;" ng-if="excpdeldate.length>0">
			                    <h4>I want product on :</h4>
			                    <span ng-repeat="s in excpdeldate" style="margin-right: 20px;">{{s}} </span>
			                </div>
					         <div style="margin-top: 33px;">
			                    <button type="button" class="btn btn-warning button-medium button button-small" ng-if="selected_dates.length>0 || excpdeldate.length>0" ng-click="saveexceptiondate()" style="width: 180px;">Save
			                    </button>
			                </div>
			            	
			            </div>
			        
			        </div>
		    		
		    	</div>
		    </div>
		</div>
	</section>
	<div ui-view="footer" style="margin-top: -20px;"></div>
	</section><!-- #page -->
</div>