<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default design-sign">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>
			<div style="background-color: #0fa6c7;margin-top: -30px;height: 47px;margin-bottom: 31px;">
			<div class="container" style="font-size: 23px;color: white;padding-top: 6px;">
			Please register to continue... If already registered then please Sign In !!!
			</div>
				
			</div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
				<div ui-view="registration"></div>
				<div ui-view="login"></div>
				
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>




