<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<form class="contact-form-box" name="contact_form">
			<fieldset>
			<h3 class="page-subheading">Drop a message</h3>
			<div class="clearfix" style="margin-top: 29px;">
				<div class="col-xs-12 col-md-4">
					<div class="form-group">
						<label for="user_name">Name</label>
						<input type="text"  class="account_input form-control" name="user_name" ng-model="user.name" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="3" maxLength="20">
		              	<span class="invalid" ng-show="!contact_form.user_name.$error.minLength && !contact_form.user_name.$error.maxLength && contact_form.user_name.$error.pattern && contact_form.user_name.$dirty">Invalid name</span>
					</div>
					<div class="form-group">
						<label for="user_email">Email</label>
						<input class="account_input form-control" type="email" name="user_email" ng-model="user.email" required>
		              	<span class="invalid" ng-show=" contact_form.user_email.$error.email && contact_form.user_email.$dirty">Invalid email</span>
					</div>
					<div class="form-group">
						<label for="email_create">Mobile No</label>
						<input class="account_input form-control" type="number" name="mobile" ng-model="user.mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
		              	<span class="invalid" ng-show="!contact_form.mobile.$error.minLength && !contact_form.mobile.$error.maxLength && contact_form.mobile.$error.pattern">Invalid Mobile No</span>
					</div>
				</div>
				<div class="col-xs-12 col-md-8">
					<div class="form-group">
						<label for="message">Message</label>
						<textarea class="form-control" name="message" ng-model="user.message" required></textarea>
						
					</div>
				</div>
			</div>
			<div class="submit">
				<button type="submit" class="button btn btn-outline button-medium" ng-click="sendMessage()"  ng-disabled="contact_form.$invalid" style="margin-left: 18px;"><span>Send</span></button>
			</div>
			</fieldset>
			</form>
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>