<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12" style="font-size: 18px;font-weight: 500;padding: 10px 15px 10px 15px;color: black;font-family: initial;">
				<p>
				Shop for Dairy and Bakery Products, you can take monthly subscription on low price to market.
				</p>
				<p>
				DairynBakery Bazar deliver Dairy and Bakery products at your doorstep. No need to carry heavy bags, No need to bargaining with local vendor, No Need to keep change (Khula ruppee) and many more.
				</p>
				<p>
				You can beat crowd, long traffic queues, hassle of visiting local vendor & save time, energy and fuel.
				</p>
				<p>Now ordering Dairy and Bakery products online is very easy with DairynBakery Bazar. Enjoy free home delivery on all order, you need to order us minimum 150 /- Rs.</p>
				<p>We offer below benefits to our customer to order from DairynBakery Bazar app</p>
				<p>
				<ul style="list-style-type: square;margin-left: 40px;">
					<li>Customer Can Subscribe Dairy and Bakery Products.</li>
					<li>Everyday Dairy and Bakery products at your doorstep early Morning.</li>
					<li>Free Home Delivery.</li>
					<li>100% Quality product & better service.</li>
					<li>Early Morning time for Delivery.</li>
					<li>One City One Price. Go Green.</li>
					<li>No Bargaining for price.</li>
					<li>No Need to have change (Khula Rupee).</li>
					<li>Customer will receive bill for every transaction as a soft copy.</li>
					<li>We will take care of everything for your product delivery.</li>
					<li>Use Smarter Way to order.</li>
				</ul>
				</p>
				<p>Order by App or log on <a href="">www.dairynbakerybazar.com</a> or Just Give us a missed call on 7060339060, we will call you back to take your order.</p>
				<p>We are also launching Desi Cow Organic Milk and Ghee...</p>
				<p>Contact us at <a href="">www.dairynbakerybazar.com</a> & <a href="https://www.facebook.com/dairynbakerybazar/">https://www.facebook.com/dairynbakerybazar/</a></p>
				<p>You can mail us on : <a href="">support@dairynbakerybazar.com</a><br>
				You can give us a miss call on 7060339060</p>

			</div>
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>