<div id="index" class="index hide-left-column hide-right-column lang_en fullwidth header-default">
	<section id="page" data-column="col-xs-12 col-sm-6 col-md-4" data-type="grid">
			<!-- Header -->
			<header id="header" class="header-center">
				<section class="header-container">
					<div id="header-main" class="header-left">
						<div id="header_content">
							<div class="inner">
								<div ui-view="changeHeader"></div>
								<div ui-view="header"></div>
							</div>
						</div>
					</div>
				</section>
			</header>
			<div ui-view="pagetitle"></div>

	<section id="columns" class="columns-container">
		<div class="container">
			<div class="row">
			<section id="center_column" class="col-md-12" style="margin-top: 12px;margin-bottom: 12px;">
				     
				<div id="blog-listing" class="blogs-container block">
					<div class="inner">
						<div class="leading-blog">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12" style="margin-bottom: 20px;">
									<iframe width="350" height="210" src="https://www.youtube.com/embed/9oYgDinMcMM" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12" style="margin-bottom: 20px;">
									<iframe width="350" height="210" src="https://www.youtube.com/embed/69eoxny-B9I" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12" style="margin-bottom: 20px;">
									<iframe width="350" height="210" src="https://www.youtube.com/embed/JKNWN3o83UM" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12" style="margin-bottom: 20px;">
									<iframe width="350" height="210" src="https://www.youtube.com/embed/iuJz30Htd34" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-sp-12" style="margin-bottom: 20px;">
									<iframe width="350" height="210" src="https://www.youtube.com/embed/wHHBlklOhm8" frameborder="0" allowfullscreen></iframe>
								</div>		
						</div>
					</div>
				</div>								
			</section>
			</div>
		</div>
	</section>
	<div ui-view="footer"></div>
	</section><!-- #page -->

<!-- Popup of upper menu -->

<script type="text/javascript">
$(document).ready( function(){
	if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	$(window).resize(function() {
		if( $(window).width() < 1025 ){
			 $(".header_user_info").addClass('popup-over');
			 $(".header_user_info .links").addClass('popup-content');
		}
		else{
			$(".header_user_info").removeClass('popup-over');
			 $(".header_user_info .links").removeClass('popup-content');
		}
	});
});
</script>


</div>