<div class="top">
	<div class="container">
		<div class="wrapper">
			<div class="header-top">
				<div class="row ApRow has-bg bg-boxed" data-bg="no-repeat" style="background:no-repeat;padding-top:45px;padding-bottom: 45px;" >
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-sp-12 ApColumn">
						<a ui-sref="auth" title="VegetableBazar">
						<img class="logo img-responsive" src="img/logo.png" alt="VegetableBazar" width="130" height="22" style="margin-top: -123px;padding-top: 64px;margin-bottom: -54px;"></a>
					</div>
					<div class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-8 col-sp-12 ApColumn hidden-xs hidden-sm hidden-md">
						<div id="ct_search_block_top" class="ct_block_search exclusive">
							<div class="groupe-content">
							<form class="clearfix" method="get" id="ctsearchtopbox">
								<div class="group-ctsearch clearfix">
								<input class="search_query grey" type="text" id="ct_search_query_top" name="search_data" placeholder="Search" ng-model="search_data" value=""/>
								<select ng-model="product_value" ng-options="p as p.Name for p in products track by p.Id">
								</select>
								</div>
								<button type="submit" ng-click= "GetValue()" class="btn btn-outline-inverse button button-small fa fa-search"></button>
							</form>
							</div>
						</div>
    				</div>
    				<div class="abs-static col-lg-3 col-md-3 col-sm-3 col-xs-4 col-sp-12 ApColumn">
						<div class="blockcart_top clearfix pull-right">
							<div class="bg-over-lay"></div>
							<div id="cart" class="shopping_cart">
								<div class="media heading hiddencart">
									<div class="cart-inner media-body">
									<a class="link-cart clearfix" href="order.html" title="View my shopping cart" rel="nofollow">
									<i class="icon-icart"></i>
									<span class="title-cart hidden-sp hidden-xs hidden-sm">
									<span>Shopping Cart</span>
									</span>
									<span class="ajax_cart_quantity unvisible">Rs. {{sumofAll}}</span>
									<span class="ajax_cart_product_txt unvisible hidden-sp hidden-xs hidden-sm">item - </span>
									<span class="ajax_cart_product_txt_s unvisible hidden-sp hidden-xs hidden-sm">item(s) - </span>
									<span class="ajax_cart_total unvisible hidden-sp"></span>
									</a>
									</div>	
								</div>
								<div class="cart_block block exclusive" ng-controller="ShoppingCartCtrl">
									<div class="block_content">
										<div class="block-info-cart">
											<h4 class="title_block"> Shopping cart </h4>
										</div>
										<div class="cart_block_list">
											<p class="cart_block_no_products" ng-if="products.length == 0">No products
											</p>
											<div class="cart-prices" ng-if="products.length > 0">
												<div class="cart-prices-line first-line" ng-repeat="product in products">
													<div style="font-size: 14px;">
														{{product.name}}
													</div>
													<span class="price cart_block_shipping_cost ajax_cart_shipping_cost" style="margin-top: 8px;font-size: 15px;">
														{{roundToTwo(product.price*product.quantity)}} Rs		
													</span>
													
													<span>
														<table>
															<tr>
																<td>
																<span>
																	<img ng-src="{{product.image}}" width="auto" height="auto" class="cartImage" check-image/>
																</span>
																</td>
																<td class="tdquantitywidth">
																<span>{{product.quantity + product.quan}}</span>
																</td>
																<td class="tdcartwidth">
																<span>{{product.price + " Rs/" + product.quan}}</span>
																</td>
																<td>
																	<a href="" sweetalert sweet-options="{{sweet.option}}" sweet-confirm-option="{{sweet.confirm}}" sweet-cancel-option="{{sweet.cancel}}"  name="login-submit" sweet-on-cancel="checkCancel()" sweet-on-confirm="checkConfirm(product)"  class="button cartremovebutton fa fa-trash-o" ></a>
																</td>
															</tr>
														</table>
													</span>
												</div>
												<hr/>
												<div class="cart-prices-line last-line">
													<span class="price cart_block_total ajax_block_cart_total">{{ sumofAll }} Rs</span>
													<span>Total</span>
												</div>
												<hr/>
												<div style="position: relative;" ng-if="!offerinfo">
												<form name="offers_form">
													<div class="form-group">
														
															<input class="account_input form-control" type="text" ng-model="offer" style="position: relative;width: 68%;" required>
														
															<button class="btn btn-outline button button-medium exclusive" type="button" ng-click="offerCheck(offer)"  ng-disabled="offers_form.$invalid || isDisabled" style="float: right;position: relative;margin-top: -34px;border-radius: 4px;height: 33px;">
																		Apply Code
															</button>
															<div style="font-size: 12px;margin-top: 11px;color: red;" ng-if="errorMessage || isMessageDisabled">{{errorMessage}}</div>
														
													</div>
												</form>
												</div>
												<div  class="cart_block_no_products">
													<div ng-if="sumofAll <100">
												        <span class="product-title col col-center col-80" >Minimum order should be of Rs 100</span>
												    </div>
												    <div ng-if="sumofAll <100">
												         <span class="product-title col col-center col-80" >And you are short of Rs {{100-sumofAll}}</span>
													</div>
												</div>
											</div>
											<p class="cart-buttons clearfix">
											<button id="button_order_cart" class="btn btn-warning button-medium button button-small pull-right" ng-click="go()" title="Check out" ng-click="go()" ng-if="sumofAll >=100">
											<span>
												Check out
											</span>
											</button>
											</p>
											<div class="cart-prices-line" ng-if="offerinfo && products.length > 0">
											<p class="cart_block_no_products" style="padding: 17px 0px;font-size: 15px;font-weight: 700;">ORDER SUMMARY
											</p>
												<table>
													<tr><td style="padding: 5px 10px;width: 263px;">Price</td><td>Rs. {{oldTotal}}</td></tr>
													<tr><td style="padding: 5px 10px;width: 263px;">Coupon Discount</td><td>Rs. {{discont}}</td></tr>
													<tr><td style="padding: 5px 10px;width: 263px;">Total</td><td>Rs {{sumofAll}}</tr></tr>
												</table>
											</div>
										</div>
									</div>
								</div><!-- .cart_block -->
							</div>
						</div>
						<div id="layer_cart">
							<div class="crossseling"></div>
						</div> <!-- #layer_cart -->
						<div class="layer_cart_overlay"></div>
    				</div>
			    </div>
			</div>
		</div>

		<div id="form_18767338073985098" class="row header-bot ApRow has-bg bg-fullwidth headerTop" data-bg=" #80b435 no-repeat" >
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 ApColumn">
				<div id="ct-megamenu" class="clearfix">
					<nav id="cavas_menu"  class="sf-contener ct-megamenu">
				    	<div class="" role="navigation">
				        	<div class="navbar-header">
				            	<button type="button" class="navbar-toggle btn-outline-inverse" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				               	<span class="sr-only">Toggle navigation</span>
				                <span class="fa fa-bars"></span>
				            	</button>
				        	</div>
				        	<div id="ct-top-menu" class="collapse navbar-collapse navbar-ex1-collapse">
				            <ul class="nav navbar-nav megamenu">
				            	<li class=""  ng-class="{active: isActive('/auth')}">
					            	<a ui-sref="auth">
					            	<span class="menu-title">Home</span>
					            	</a>
				            	</li>
				            	<li class="" ng-class="{active: isActive('/dairy')}">
									<a ui-sref="vegetables">
									<span class="menu-title">Dairy</span>
									</a>
								</li>
								<li class=""  ng-class="{active: isActive('/bakery')}">
									<a ui-sref="fruits">
									<span class="menu-title">Bakery</span>
									</a>
								</li>
								<li class=""  ng-class="{active: isActive('/subscription')}" ng-if=" globals.currentUser.username">
									<a ui-sref="subscription">
									<span class="menu-title">Subscription</span>
									</a>
								</li>
								<li class=""  ng-if=" globals.currentUser.username" ng-class="{active: isActive('/recharge')}">
									<a ui-sref="recharge">
									<span class="menu-title">Recharge Wallet</span>
									</a>
								</li>
								<li class=""  ng-class="{active: isActive('/blog')}">
									<a ui-sref="blog">
									<span class="menu-title">Video Blog</span>
									</a>
								</li>
								<li class=""  ng-class="{active: isActive('/aboutus')}">
									<a ui-sref="aboutus">
									<span class="menu-title">About Us</span>
									</a>
								</li>
								<li class=""  ng-class="{active: isActive('/contact')}">
									<a ui-sref="contact">
									<span class="menu-title">Contact</span>
									</a>
								</li>
							</ul>
				        	</div>
				    	</div>
					</nav>
				</div>
			</div>
		</div>
	</div><!-- end of controller -->
</div><!-- end of top -->


<script type="text/javascript">
    (function($) {
        $.fn.OffCavasmenu = function(opts) {
            // default configuration
            var config = $.extend({}, {
                opt1: null,
                text_warning_select: "Please select One to remove?",
                text_confirm_remove: "Are you sure to remove footer row?",
                JSON: null
            }, opts);
            // main function
            // initialize every element
            this.each(function() {
                var $btn = $('#cavas_menu .navbar-toggle');
                var $nav = null;
                if (!$btn.length)
                    return;
                var $nav = $('<section id="off-canvas-nav" class="ct-megamenu"><nav class="offcanvas-mainnav" ><div id="off-canvas-button"><span class="off-canvas-nav"></span>X</div></nav></sections>');
                var $menucontent = $($btn.data('target')).find('.megamenu').clone();
                $("body").append($nav);
                $("#off-canvas-nav .offcanvas-mainnav").append($menucontent);
                $("#off-canvas-nav .offcanvas-mainnav").css('min-height',$(window).height()+30+"px");
                $("html").addClass ("off-canvas");
                $("#off-canvas-button").click( function(){
                        $btn.click();	
                } );
                $btn.toggle(function() {
                    $("body").removeClass("off-canvas-inactive").addClass("off-canvas-active");
                }, function() {
                    $("body").removeClass("off-canvas-active").addClass("off-canvas-inactive");
                });
            });
            return this;
        }
    })(jQuery);
    $(document).ready(function() {
        jQuery("#cavas_menu").OffCavasmenu();
        $('#cavas_menu .navbar-toggle').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 0);
            return false;
        });
    });
    $(document.body).on('click', '[data-toggle="dropdown"]' ,function(){
        if(!$(this).parent().hasClass('open') && this.href && this.href != '#'){
            window.location.href = this.href;
        }
    });
    $("#header .shopping_cart a:first").click(function(e){
		e.preventDefault();
		$("#header .cart_block").stop(true, true).addClass('show-cart-block');
		$('.bg-over-lay').addClass('show-over-lay');
		//add anim-item
		var t = -1;
		$('.cart_block dt').addClass('anim-item');
		$('.cart_block .anim-item').removeClass("anim-active").delay(20).each(function() {
            var that = $(this);
            t++, setTimeout(function() {
                that.addClass("anim-active");
            }, 100 * t);
        });
	})
	$('.bg-over-lay').click(function(){
		$("#header .cart_block").stop(true, true).removeClass('show-cart-block');
		$('.bg-over-lay').removeClass('show-over-lay');
	});


	
	$(window).on( 'scroll', function(){
		if(localStorage.getItem('hideCart')=='true'){
 
		if ($(window).scrollTop() > 500) {
			$('.hiddencart').addClass('hidden-cart');
			$('.hiddencart').addClass('show');
			$('.title-cart').addClass('hidden-lg');
			$('.title-cart').addClass('hidden-md');
			$('.link-cart').addClass('cartformat');
		} else {
			$('.hiddencart').removeClass('hidden-cart');
			$('.hiddencart').removeClass('show');
			$('.title-cart').removeClass('hidden-lg');
			$('.title-cart').removeClass('hidden-md');
			$('.link-cart').removeClass('cartformat');
		}
		}
	});

	$(document).ready(function () {
	    var navpos = $('#form_18767338073985098').offset();
	    console.log(navpos.top);
	    $(window).bind('scroll', function () {
	        if ($(window).scrollTop() > navpos.top) {
	            $('#form_18767338073985098').addClass('navbar-fixed-top');
	            $('#topnav').removeClass('navbar-fixed-top');
	        } else {
	            $('#topnav').addClass('navbar-fixed-top');
	            $('#form_18767338073985098').removeClass('navbar-fixed-top');
	        }
	    });
	})
	
</script>